h1{
      color:blue;
}
body{
          background-color:#5CB25C;
}
h2{
      color:#92ADCB;
      font-family:calibri;
      font-size:24
}
p{
    color:white;
    font-family:Calibri;
    font-size:20
}
img.imagen-a-cambiar{
   width:150px;
   height:145px;
}
h1.titulo-importante{
   color:blue;
   font-family:Calibri;
   font-size:45
}
img.perro-triste{
  width: 100%;
    margin: 13%;
    width: 65px;
    border-radius: 50px 50% 50% 50%;
    height: 156px;
}
table{
   width:50%;
   height:50%;
}
th, td{
   border: black 1px solid;
   width:80%;
}
img.imagen-a-cambiar{
  width: 100%;
    margin: 13%;
    width: 65px;
    border-radius: 50px 50% 50% 50%;
    height: 156px;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline; /* Hace que los ítems del menú estén en una línea horizontal */
    margin-right: 20px; /* Espacio entre los ítems del menú */
}
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
nav a:hover {
    text-decoration: underline;
}
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}
.img-2 {
  position: relative;  
  background: orange;
  width: 100px;
  height: 100px;
  top: -20px;         
  left: 500px;        
}
.img-1 {
  position: relative;  
  background: orange;
  width: 100px;
  height: 100px;
  top: 100px;        
  left: 300px;        
}
.img-3 {
  position: relative;  
  background: orange;
  width: 100px;
  height: 100px;
  top: -140px;     
  left: 100px;        
}
aside{
  width: 40;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float:right;
  box-shadow:inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}
div.division{
  border:5px inset rgb(196, 55, 55);
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 400px;
  height: 75px;
  margin-left:100px;
  background-image:url(https://pbs.twimg.com/media/D1Gn100XQAAhI_Q.png)
}
div.division2{
  border:5px inset rgb(196, 55, 55);
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 400px;
  height: 75px;
  margin-left:100px;
  margin-top:50px;
  background-color: #30C29E;
  text-align:justify;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.Division1{
  animation: rotate 2s linear infinite;
  width:10px;
  height:20px;
  margin-left:100px;
}
div {
  /* border-style: groove; */
}

body {
  background-color: #aafafa;
  margin: 0;
}

p, a, button {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  border: none;
}

.box {
  background-color: red;
  border-radius: 30px;
  width: 60%;
  box-shadow: 1px 1px 20px 10px #8f8e90;
  text-align: center;
  margin: auto;
  /* max-width: 80rem; */
  /* padding: 0 5rem; */
}

.container_icons {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.icon {
  width: 40px;
  border: 1px solid gainsboro;
  padding: 5px;
  border-radius: 5px;
  margin: 0 7px;
  cursor: pointer;
}

.text {
  text-align: center;
  color: #ff8899;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.inputs {
  height: 35px;
  background-color: #dddddd;
  /* border: none; */
  border:1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 26rem;
}

.inputs:focus {
  background-color: lightblue;
  outline: none !important;
  border:1px solid #999999;
  box-shadow: 0 0 10px #6b6c6d;
}

.form a {
  color: #bbbbbb;
  text-align: center;
  /* margin: 15px 0; */
}

.container_button {
  display: flex;
  justify-content: center;
}

.button {
  width: 150px;
  color: red;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.btninit {
  background-color: #607def;
  border: none;
  margin: 25px 0;
}

.button:hover {
  box-shadow: 0 0 10px #6b6c6d;
}

.titulo_iniciar {
  font-size: 35px;
}

h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container_iniciar, .container_crear {
  /* background-color: white; */
  display: flex;
  justify-content: center;
}

.iniciar {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 5rem 20px;
}

.hola {
  width: 50%;
  background-color: #607def;
  border-radius: 90px 30px 30px 90px;

  display: flex;
  justify-content: center;
  width: 50%;
  padding: 5rem 20px;
}

.container_hola {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.titulo_hola {
  color: #ffffFF;
  margin: 0;
}

.hola p {
  color: red;
  margin: 1rem 0;
}

.button2 {
  
}

.btncrear {
  background-color: transparent;
  border: 2px solid #ffffff;
  margin-top: 1rem;
}

.button2:hover {
  box-shadow: 0 0 10px #9d9e9e;
}

.carousel-inner {
  height: 150px;
  margin-top: 15px;
}

.container_carousel img {
  object-fit: fill;
}

.glyphicon {
  font-size: 90px;

}


